:root {
    --item-spacing: 0.5em;
    --item-inner-spacing: calc(var(--item-spacing) / 2);
    --image-height: 1.2em;

    --body-bg-color: #ffffff;
    --bb-bg-color: #f2f2f2;
    --text-color: #0f0f0f;
}

/* This is a hack to guess the current youtube theme until truffle embeds support getting it directly */
@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-color: #0f0f0f;
        --bb-bg-color: #272727;
        --text-color: #f1f1f1;
    }
}

body {
    font-family: "YouTube Sans", "Roboto", sans-serif;
}

.bb-body {
    margin: 0;
    white-space: nowrap; 
    overflow: hidden;
}

.bb-group {
    display: inline-flex;
    align-items: center;
    line-height: 0;
}

.bb-group > * {
    flex: 0 0 auto;
}

.bb-group > p {
    margin: 0 var(--item-inner-spacing) 0 var(--item-inner-spacing);
}

.bb-group > img {
    height: var(--image-height);
    margin: 0 var(--item-inner-spacing) 0 var(--item-inner-spacing);
}

.bb-group > i {
    font-size: var(--image-height);
    margin: 0 var(--item-inner-spacing) 0 var(--item-inner-spacing);
}

a.bb-group {
    color: inherit;
    text-decoration: none;
}

a.bb-group:not(.bb-parent) {
    height: 100%;
}

.bb-parent {
    padding: 0 var(--item-spacing) 0 var(--item-spacing);
    height: 36px;

    color: var(--text-color);
    background-color: var(--bb-bg-color);
    border-radius: 10em;
}

.bb-body > .bb-parent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hidden {
    display: none;
}
